.header{
    background-color: #fff;
    padding: 0;
}
.container{
    height: 100%;
}
.logo{
    height: 64px;
    line-height: 64px;
    text-align: center;
    font-size: 24px;
    color: aliceblue;
}

.sider{
    height: 100%;
}

.content{
    height: calc(100% - 64px);
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}