<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">   
    <!-- <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico"> -->
    <!-- <link rel="icon" type="image/x-icon" href="<%= context.publicPath %>favicon.ico" /> -->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_772097_efly7azvjv.css">
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=IbPql1zh5PRUsrmmMbrjjnpvKBMWW2pu"></script>
    <title>ahuife进销存管理系统</title>
</head>
<body>
  <div id="root"></div>
</body>
</html>