/* 全局的css样式 */
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}
::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #CCCCCC;
  height: 40px;
  outline-offset: -1px;
  outline: 1px solid #CCCCCC;
  -webkit-border-radius: 2px;
  border: 1px solid #CCCCCC;
}


.ant-row.wrapper{
  margin-bottom: 15px !important;
}

.ant-card{
  border-radius: 4px !important;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.ant-tabs-top-bar{
  background-color: #fff;
  border-radius: 4px !important;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
.ant-tabs-tabpane{
  background-color: #fff;
  padding: 12px 16px;
  border-radius: 4px !important;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}