body {
  margin: 0;
  font-family: -apple-system, "cursive", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  #root{
    height: 100%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

//滚动条样式----------------------start
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #CCCCCC;
  height: 40px;
  outline-offset: -1px;
  outline: 1px solid #CCCCCC;
  -webkit-border-radius: 2px;
  border: 1px solid #CCCCCC;
}
//滚动条样式----------------------end

//设置table 文本溢出的问题
// table {
//   table-layout: fixed;
// }
// table td {
//   text-overflow: ellipsis !important;
//   white-space: nowrap !important;
//   overflow: hidden !important;
// }
//其他table通用样式
.ant-table-thead > tr > th, .ant-table-tbody > tr > td{
  padding: 10px 16px !important;
}

// 隐藏百度地图的脚标信息
.anchorBL{
  display: none !important;
}

// 分页总数据条数显示位置
.ant-pagination-total-text{
  float: right !important;
  margin-left: 15px;
  line-height: 32px;
}


// card样式自定义
.ant-card{
  border-radius: 8px   !important;
  border: none  !important;
  background:rgba(255,255,255,1) !important;
  box-shadow:0px 0px 10px 0px rgba(0,0,0,0.05) !important;
}

// input的自定义样式
.ant-input{
  border-radius: 8px   !important;
  // border:1px solid rgba(217,217,217,1) !important;
}

// button的自定义样式
.ant-btn{
  border-radius: 8px   !important;
}

// 下拉框的自定义样式
.ant-select-selection{
  border-radius: 8px   !important;
}

// 弹框的自定义样式
.ant-modal-content{
  border-radius: 8px   !important;
  overflow: hidden !important;
}

// 进度条的自定义样式
.ant-steps-item-title{
  font-size: 14px !important; 
}
.ant-steps-dot .ant-steps-item-tail::after, .ant-steps-dot.ant-steps-small .ant-steps-item-tail::after{
  height: 1px !important;
}
//菜单对齐方式
.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title{
  padding: 0 28px !important;
}

.margin_b_15{
  margin-bottom: 15px;
}